//- ===== PAGE HEAD INCLUDE =====
include _includes/_head.pug 

//- ===== PAGE LOADING INCLUDE =====
include _includes/_page-loader.pug

//- ====== NAVIGATION INCLUDE ======
include _includes/_navigation.pug

//- start blogs wrapper
.wrapper.work_details_wrapper
  .primary-container
    .row.justify-content-center.text-center
      .col-lg-8.col-md-12.wow.fadeInUp
        h2.single_work_title Bell Security Services
        .vertical_rule
    
    //- work preview 01
    img.img-fluid.wow.fadeInUp(src='img/work_bell_01.jpg' alt='Bell Security Dashboard')
    .row.justify-content-end
      .col-md-6
        .work_details_text.wow.fadeInUp
          h4.work_details_title About The Project
          p
            | A services dashboard and security suite that would integrate account management features, software fulfillment,  system back-ups, and pc protection. The primary focus was to give the user a resource for their internet support needs ultimately trying reducing the amount of support calls.
    .row 
      .col-md-6.col-sm-6.col-6
        //- work preview 02
        img.img-fluid.wow.fadeInUp(src='img/work_bell_02.jpg' alt='Bell Security Services')
      .col-md-6.col-sm-6.col-6
        //- work preview 03
        img.img-fluid.wow.fadeInUp(src='img/work_bell_03.jpg' alt='Bell Seucurity Campaign' data-wow-delay='.2s')
    .row.justify-content-end
      .col-12
        .work_details_text.wow.fadeInUp
          h4.work_details_title My Contributions
          p.work_details_textS
            | Primary deliverables were wireframe, user flow, and branding integration for the support dashboard and security services. Creating a custom experience to best meet Bell’s requirements.
    .row
      .col
        ul.paginations.wow.fadeInUp(data-wow-delay='.2s')
          li
            a(href='nakisa-hcm.html')
              span.ti-angle-left
              | prev project
          li
            a(href='index.html') +
          li
            a(href='rogers.html')
              | next project
              span.ti-angle-right
//- end blogs wrapper

//- ======== Footer Content ======
include _includes/_footer.pug

//- ========  All JS Here ========
include _includes/_js.pug
