doctype html
html.no-js(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title Jonathan Albert - Product Designer
    
    include _includes/_head
      
  body#menu.body-page
    // Page Loader
    include _includes/_preloader
    // Start Header
    include _includes/_header
    // Start Cover
    include _includes/_cover 
  
    // Start Content
    main#mainpage.page-main.page-fullpage.main-anim
      // Start Home
      include _includes/_home
      // Start Introduction
      include _includes/_introduction
      // Start Experience
      // include _experience
      // Start Projects
      include _includes/_projects
      // Start Contact
      include _includes/_contact
      // End Content
      // Start Footer
      include _includes/_footer
      // Scripts
      include _includes/_scripts
