.section.services.section-list-feature.fp-auto-height-responsive(data-section='services')
  .section-wrapper.twoside.center-vh.dir-col.anim
    .anim-2.text-center.mb-3
      h2.display-4.display-title Where I've Been
      p Our awesome services which we provide for your needs
    .item.row.justify-content-between.fade-1
      .col-12.col-md-6.col-lg-6
        .section-content.reduced
          .media
            .media-body
              h4 lvl Studio - UX Designer
              p
                | Worked directly with TELUS to define user-journeys , pain points, user-flows and wireframes 
                | for Pik and OptikTV video platforms. Detailed product features for Mediaroom, iOS and Android 
                | from initial definition of user acceptance criteria to development handoff.
          .media
            .media-body
              h4 Nakisa - UI/UX Designer
              p
                | Defined base design for all Nakisa software. Led UI/UX efforts to create and implement 
                | component driven development. Standardized all UI development through creation of branding 
                | style guides.
      .col-12.col-md-6.col-lg-6
        .section-content.reduced
          .media
            .media-body
              h4 Ericsson - UI/UX Designer
              p
                | Worked with customers reviewing project functional specifications creating fully responsive, 
                | accessible, cross browser templates. I was responsible for the creation and implementation 
                | of websites, e-commerce platforms, mobile apps, and digital marketing campaigns.
          .media
            .media-body
              h4 Radialpoint - UI/UX Designer
              p
                | Worked with multiple external design teams to create scalable, responsive, user-friendly 
                | layouts. Updated and maintained internal UI development processes. Interfaced with product 
                | stakeholders to create user-flows, wireframes, designs and styleguides.
    footer.section-footer.scrolldown
      a.down
        span.icon
        span.txt Projects
