//- footer#site-footer.page-footer
//-   // Left content
//-   .footer-left
//-     span.opacity-75
//-       i.icon.ion-android-call
//-       | (514) 994-4844
//-     span.opacity-75
//-       i.icon.ion-email
//-       | jon.albert@gmail.com
//-   // Right content
//-   .footer-right
//-     i.icon.ion-document
//-     p.note
//-       a(href='Jonathan_Albert-CV.pdf', target='_blank') 
//-         span.marked  Download CV
