footer.footer_wrapper
  .primary-container
    //- .row.no-gutters
    //-   .col-12
    //-     .social
    //-       a.primary_button(href='#') Dribbble
    //-       a.primary_button(href='#') Behance
    //-       a.primary_button(href='#') Linkedin
    //-       a.primary_button(href='#') Github
    //-       a.primary_button(href='#') Twitter
    //-       a.primary_button(href='#') Instagram
    .row.no-gutters
      .col-md-4
        .footer_widget
          h5.footer_widget_title Get In Touch
          span.line
          p
            a.primary_button(href='mailto:jon.albert@gmail.com') jon.albert@gmail.com
          p
            a.primary_button(href='tel:514-994-4844') (514) 994-4844
      .col-md-4
        .footer_widget
          h5.footer_widget_title Location
          span.line
          p St-Henri, Montreal
          p Canada
      .col-md-4
        .footer_widget
          h5.footer_widget_title Links
          span.line
          p
            a.primary_button(href='http://linkedin.com/in/jon-albert', target='_blank') LinkedIn  
          p
            a.primary_button(href='jon_albert-designer-2018.pdf', target="_blank") Download CV
    .row.no-gutters
      .col-12
a.go_top.smooth_scroll(href='#top')
  span.ti-angle-up
//- end footer
