// Start Header
header.page-header.navbar.page-header-alpha.scrolled-white.menu-right.topmenu-right
  button#navMenuIcon.navbar-toggler.site-menu-icon
    span.menu-icon.menu-icon-random
      span.bars
        span.bar1
        span.bar2
        span.bar3
  a.navbar-brand(href='index.html#home')
    span.logo
      img.light-logo(src='./img/logo-white.png' alt='Albert')
  #navbarMenu.all-menu-wrapper
    nav.navbar-mainmenu
      ul.navbar-nav.mr-auto.mr-auto-my
        
        li.nav-item.active
          a.nav-link(href='index.html#home')
            | Home
            span.sr-only (current)

        //- li.nav-item
        //-   a.nav-link(href='portfolio-2017.html') Download CV          
        //- 
            
        li.nav-item
          a.nav-link(href='nhl-showcase.html') NHL Showcase
        
        li.nav-item
          a.nav-link(href='nakisa-hanelly.html') Nakisa Hanelly Mobile
          
        li.nav-item
          a.nav-link(href='nakisa-slan.html') Nakisa Lease Admin

        li.nav-item
          a.nav-link(href='rogers-techxpert.html') Rogers Techxpert
        
        li.nav-item
          a.nav-link(href='nakisa-hanelly.html') Bell Security Advisor
          
        li.nav-item
          a.nav-link(href='portfolio-2017.html') Portfolio 2017

        li.nav-item
          a.nav-link(href='index.html#contact') Contact Me          

    nav.navbar-sidebar
      ul.social
        li
          a(href='tel:514-994-4844')
            i.icon.ion-android-call
        li
          a(href='mailto:jon.albert@gmail.com')
            i.icon.ion-email
        li
          a(href='Jonathan_Albert-CV.pdf', target='_blank') 
            i.icon.ion-ios-paper
// End Header
