meta(name='description', content='Portfolio of Jonathan Albert Product Designer')
meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0')
// Favicon icon
link(rel='icon', type='image/png', sizes='16x16', href='./img/favicon.png')

// Web fonts/Icons
link(rel='stylesheet', href='./fonts/opensans/stylesheet.css')
link(rel='stylesheet', href='./fonts/ionicons/ionicons.min.css')
link(rel='stylesheet', href='./fonts/fontawesome/font-awesome.min.css')
link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap")
link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap")
   
// Vendor CSS
link(rel='stylesheet', href='./css/bootstrap.min.css')
link(rel='stylesheet', href='./js/lib/swiper.min.css')
link(rel='stylesheet', href='./js/lib/jquery.fullpage.min.css')
link(rel='stylesheet', href='./js/lib/vegas/vegas.min.css')
link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.11.2/css/all.css', integrity='sha384-zrnmn8R8KkWl12rAZFt4yKjxplaDaT7/EUkKm7AovijfrQItFWR7O/JJn4DAa/gx', crossorigin='anonymous')

 
// Main CSS files
link(rel='stylesheet', href='./css/style.css')
