.section.section-home.fullscreen-md.fp-auto-height-responsive.main-home(data-section='home')
  .section-wrapper.center-vh.dir-col.anim
    .section-content.reduced.text-center
      .row
        .col-12.col-md-12.text-center
          .title-desc
            h5.sub-title.anim-2.opacity-75 Product Designer
            h2.display-4.display-title.home-title.anim-3 Jonathan 
            .display-4.display-title.albert-logo.anim-4
             

    footer.section-footer.scrolldown
      a.down
        span.icon
        span.txt Introduction
