.section.section-description.fp-auto-height-responsive.about-section(data-section='about')
  .section-wrapper.center-vh.dir-col.anim
    //.section-title.text-center
      h2.display-4.display-title.anim-2.mb-32 Product Designer
    .section-content.reduced
      .row
        .col-12.col-md-5.text-right.d-flex.align-items-center
          .title-desc.pr-4
            h2.display-5.anim-2.intro-title Hi, I'm 
            h2.display-5.anim-2.highlight.intro-title Jonathan
        .col-12.col-md-7.text-left.mission-border.anim-3
          .title-desc.anim-2
            p
              | As a product designer with extensive experience in crafting user-centric and responsive designs, I have always focused on the alignment of user needs, business objectives, and brand consistency.
            p
              | Having a background in graphic design, along with my expertise in developing software, has allowed me to sucessfully create cohesive user journeys and fleshed out brand identities for several different product over my career.
    footer.section-footer.scrolldown
      a.down
        span.icon
        span.txt Projects
