.section.section-description.fp-auto-height-responsive.about-section(data-section='about')
  .section-wrapper.center-vh.dir-col.anim
    //.section-title.text-center
      h2.display-4.display-title.anim-2.mb-32 Product Designer
    .section-content.reduced
      .row
        .col-12.col-md-5.text-right.d-flex.align-items-center
          .title-desc.pr-4
            h2.display-5.anim-2.intro-title Hi, I'm 
            h2.display-5.anim-2.highlight.intro-title Jonathan
        .col-12.col-md-7.text-left.mission-border.anim-3
          .title-desc.anim-2
            p
              | A product designer with over a decade of experience specializing in both web and interface design. 
            p
              | From the outset, I realized I had an affinity for developing user experiences and putting together functional user flows. I help clients design and develop user-friendly, responsive solutions.
    footer.section-footer.scrolldown
      a.down
        span.icon
        span.txt Experience
