//- start header
header.bg-transparent.wow.fadeInDown(data-wow-delay='.5s')
  .primary-container
    .row.no-gutters
      .col-8.col-sm-8.col-md-4
        .logo
          a(href='index.html')
            img.img-fluid(src='img/albert_logo.svg' alt='Albert')
      .col-4.col-sm-4.col-md-8
        nav
          ul
            li
              a(href='index.html') home.
            li
              a(href='mailto:jon.albert@gmail.com') contact.
            li
              a(href='Jonathan_Albert-CV.pdf' target="_blank") download CV.
        .menu_btn
          .line-menu.half.start
          .line-menu
          .line-menu.half.end
//- end header
