.section.section-team.fp-auto-height-responsive(data-section='Projects')
  .section-wrapper.center-vh.dir-col.anim
    .section-title.text-center
      h2.display-4.display-title.anim-2.mb-32 Projects
    .section-content.anim.text-center
      .item.row.justify-content-between

        //- First 
        .col-12.col-sm-6.col-md-4.center-vh
          .section-content.anim-1.translateDown
            .images.text-center
              .img-avatar-alpha
                .img-1.shadow
                  a(href='enphase-solargraf.html')
                    img.img(src='./img/07-enphase-solargraf.jpg' alt='Enphase - Solargraf')

        //- Second 
        .col-12.col-sm-6.col-md-4.center-vh
          .section-content.anim-1.translateDown
            .images.text-center
              .img-avatar-alpha
                .img-1.shadow
                  a(href='nhl-showcase.html')
                    img.img(src='./img/06-nhl-showcase.jpg' alt='NHL Showcase')
        
        //- Third  
        .col-12.col-sm-6.col-md-4.center-vh
          .section-content.anim-2.translateDown
            .images.text-center
              .img-avatar-alpha
                .img-1.shadow
                  a(href='nakisa-hanelly.html')
                    img.img(src='./img/01-HCM-Mobile.jpg' alt='Nakisa Hanelly Mobile')
        
        //- Fourth
        .col-12.col-sm-6.col-md-4.center-vh
          .section-content.anim-3.translateDown
            .images.text-center
              .img-avatar-alpha
                .img-1.shadow
                  a(href='nakisa-slan.html')
                    img.img(src='./img/02-SLAN.jpg' alt='Nakisa Lease Management')
        
        //- Fifth
        .col-12.col-sm-6.col-md-4.center-vh
          .section-content.anim-1.translateDown
            .images.text-center
              .img-avatar-alpha
                .img-1.shadow
                  a(href='portfolio-2017.html')
                    img.img(src='./img/03-Portfolio.jpg' alt='Portfolio - 2017')
        
        //- Sixth
        .col-12.col-sm-6.col-md-4.center-vh
          .section-content.anim-2.translateDown
            .images.text-center
              .img-avatar-alpha
                .img-1.shadow
                  a(href='rogers-techxpert.html')
                    img.img(src='./img/04-techxpert.jpg' alt='Rogers - Techxpert')
        
        //- Seventh
        .col-12.col-sm-6.col-md-4.center-vh
          .section-content.anim-3.translateDown
            .images.text-center
              .img-avatar-alpha
                .img-1.shadow
                  a(href='bell-security.html')
                    img.img(src='./img/05-bell.jpg' alt='Bell Security')

    footer.section-footer.scrolldown
      a.down
        span.icon
        span.txt Get in Touch 
