.section.section-twoside.fp-auto-height-responsive(data-section='projects')
  .section-wrapper.twoside.dir-col.anim
    .section-title.center-vh.dir-col.text-center
      h2.display-4.display-title.anim-2.mb-32.highlight Projects
    .slider-wrapper.carousel-swiper-beta.fade-1.carousel-smalls.carousel-swiper-beta-demo
      .slider-container.swiper-container.anim-3
        ul.item-list.swiper-wrapper

          li.slide-item.swiper-slide
            .item-wrapper
              .illustr
                img.img(src='./img/06-nhl-showcase.jpg', alt='Image')
              a.legend(href='nhl-showcase.html')
                h2.display-4.project-title NHL Showcase
                //- p Hanelly is an interactive cloud organizational design solution that lets you visualize your current and future structures utilizing powerful, and flexible analytics.

          li.slide-item.swiper-slide
            .item-wrapper
              .illustr
                img.img(src='./img/01-HCM-Mobile.jpg', alt='Image')
              a.legend(href='nakisa-hanelly.html')
                h2.display-4.project-title Nakisa Hanelly Mobile
                //- p Hanelly is an interactive cloud organizational design solution that lets you visualize your current and future structures utilizing powerful, and flexible analytics.

          li.slide-item.swiper-slide
            .item-wrapper
              .illustr
                img.img(src='./img/02-SLAN.jpg', alt='Image')
              a.legend(href='nakisa-slan.html')
                h2.display-4.project-title Nakisa Lease Admin
                //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          li.slide-item.swiper-slide
            .item-wrapper
              .illustr
                img.img(src='./img/04-techxpert.jpg', alt='Image')
              a.legend(href='rogers-techxpert.html')
                h2.display-4.project-title Rogers Techxpert
                //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          li.slide-item.swiper-slide
            .item-wrapper
              .illustr
                img.img(src='./img/05-bell.jpg', alt='Image')
              a.legend(href='bell-security.html')
                h2.display-4.project-title Bell Security
                //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

          li.slide-item.swiper-slide
            .item-wrapper
              .illustr
                img.img(src='./img/03-Portfolio.jpg', alt='Image')
              a.legend(href='portfolio-2016.html')
                h2.display-4.project-title Personal Portfolio
                //- p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

      .items-pagination.bar
    footer.section-footer.scrolldown
      a.down
        span.icon
        span.txt Get In Touch
