script(src='./js/lib/jquery-1.12.4.min.js')
script(src='./js/lib/scrolloverflow.min.js')
script(src='./js/lib/all.js')
script(src='./js/lib/particlejs/particles.min.js')
// Main Script files
script(src='./js/custom.js')
