doctype html
html.no-js(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    title Jonathan Albert - Product Designer
    
    include ../_includes/_head
    //- link(rel='stylesheet', href='./css/style-light.css')
 
  body#menu.body-page
    // Page Loader
    include ../_includes/_preloader
    // Start Header
    include ../_includes/_header
    // Start Cover
    include ../_includes/_cover 
     
    // Start Content
    main#itempage.page-main.page-fullpage.main-anim
      .section.section-twoside.fp-auto-height-responsive.section-item.padding-none(data-section='item-alpha')
        .section-cover-tier.mask-black
        .section-wrapper.largewidth
          .item.row
            .col-12.col-md-12.center-vh
              .section-content.anim
                article.article.article-light
                  .article-content
                    .wrapper
                      h2.highlight Solargraf
                      .info-small
                        p
                          i.icon.fa.fa-building
                          |  Enphase
                        p
                          i.icon.fa.fa-paint-brush
                          | UI/UX Design
                      .item.row.justify-content-between.mt-5
                        .col-12.col-md-12.col-lg-12
                          h4.project-sub-title About this project
                          p
                            | Solargraf is a comprehensive solar design and proposal tool for solar sales teams and installers.
                            | Its user-friendly interface helps them efficiently scope, sell, and manage solar proposals from 
                            | various devices.

                          h4.project-sub-title My Contributions
                          p
                            | Worked on the internal design team to develop a new branding and user experience for 
                            | Solargraf software, resulting in a completely new and refined brand identity and user experience. 
                            | I maintained regular communication with users and product owners to continuously refine and enhance 
                            | the software’s usability.

                          .section-content.anim
                            .images.text-center
                              .img-frame-normal.frame-small.portrait
                                img.img(src='./img/Solargraf-Dashboard.png', alt='Solargraf - Dashboard')
                        
                      .item.row.justify-content-between.mt-5
                        .col-12.col-md-12.col-lg-12

                          .section-content.anim
                            .images.text-center
                              .img-frame-normal.frame-small.portrait
                                img.img(src='./img/Solargraf-Proposal (Design).png', alt='Solargraf - Design')

                      .item.row.justify-content-between.mt-5
                        .col-12.col-md-12.col-lg-12

                          .section-content.anim
                            .images.text-center
                              .img-frame-normal.frame-small.portrait
                                img.img(src='./img/Solargraf-Battery_Design.png', alt='Solargraf - Battery Design')
 
                      .item.row.justify-content-between.mt-5
                        .col-12.col-md-12.col-lg-12

                          .section-content.anim
                            .images.text-center
                              .img-frame-normal.frame-small.portrait
                                img.img(src='./img/Solargraf-Roof_Design.png', alt='Solargraf - Roof Design')

                      .item.row.justify-content-between.mt-5
                        .col-12.col-md-12.col-lg-12

                          .section-content.anim
                            .images.text-center
                              .img-frame-normal.frame-small.portrait
                                img.img(src='./img/Solargraf-Advanced_Design.png', alt='Solargraf - System Design')

                      .item.row.justify-content-between.mt-5
                        .col-12.col-md-12.col-lg-12

                          .section-content.anim
                            .images.text-center
                              .img-frame-normal.frame-small.portrait
                                img.img(src='./img/Solargraf-Proposal (Usage).png', alt='Solargraf - System Proposal')


                .btns-action.row.item-buttons
                  .col-md-12.item-buttons-next
                    a.btn.btn-outline-white.border-0(href='bell-security.html')
                      i.icon.fa.fa-arrow-circle-left.mr-2
                      span.txt Prev
                    a.btn.btn-outline-white.border-0(href='nhl-showcase.html')
                      span.txt Next
                      i.icon.fa.fa-arrow-circle-right.ml-2
    // End Content
    // Scripts
    include ../_includes/_scripts
